@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    /* Default colors for <body /> */
    --background: 218 17% 9%; /* Source: neutral-50 | rgb(20, 23, 28) | #14171C */
    --foreground: 0 0% 98%; /* Source: neutral-900 | rgb(250, 250, 250) | #FAFAFA */

    /* Default colors for <Card /> */
    --card: 218 15% 14%; /* Source: Figma | rgb(30, 34, 41) | #1E2229 */
    --card-foreground: 0 0% 98%; /* Source: neutral-900 | rgb(250, 250, 250) | #FAFAFA */

    /* Default colors for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 218 17% 9%; /* Source: neutral-50 | rgb(20, 23, 28) | #14171C */
    --popover-foreground: 0 0% 98%; /* Source: neutral-900 | rgb(250, 250, 250) | #FAFAFA */

    /* Default / Primary colors for <Button /> */
    --primary: 245 93% 67%; /* Source: Figma | rgb(106, 93, 249) | #6A5DF9 */
    --primary-foreground: 0 0% 98%; /* Source: neutral-900 | rgb(250, 250, 250) | #FAFAFA */

    /* Secondary colors for <Button /> */
    --secondary: 215 14% 34%; /* Source: Figma | rgb(75, 85, 99) | #4B5563 */
    --secondary-foreground: 220 14% 96%; /* Source: neutral 800 | #F3F4F6 */

    /* Muted elements such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 218 17% 19%; /* Source: from neutral-100 | rgb(40, 46, 56) | #282E38 */
    --muted-foreground: 217 15% 79%; /* Source: neutral-700 | rgb(193, 199, 209) | #C1C7D1 */

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 245 28% 15%; /* Source: primary-50 | rgb(30, 28, 50) | #1E1C32 */
    --accent-foreground: 0 0% 98%; /* Source: neutral-900 | rgb(250, 250, 250) | #FAFAFA */

    /* Colors for <Button variant="destructive" /> */
    --destructive: 0 66% 47%; /* Source: Figma | rgb(106, 93, 249) | #6A5DF9 */
    --destructive-foreground: 220 14% 96%; /* Source: neutral 800 | #F3F4F6 */

    /* Default Border color */
    --border: 214 16% 28%; /* Source: neutral-200 | rgb(60, 70, 83) | #3C4653 */
    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 214 16% 28%; /* Source: neutral-200 | rgb(60, 70, 83) | #3C4653 */
    /* Used for focus ring */
    --ring: 24 5.7% 25.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
